@use '../variables';

.promo-card--larger {
    .blurb__title {
        font-size: 30px;
        line-height: 38px;
    }
    .card__content {
        //padding: $spacing-xxl;
        display: flex;
        align-items: center;

        .promo-card__text {
            line-height: 28px;
        }
    }
}

.promo-card__text {
    margin-top: 1px;
    line-height: 20px;
}

