@use '../variables';

.promo-card__text {
    margin-top: 0;
}

.promo-card--larger {
    .blurb__title {
        font-size: 30px;
    }
    .card__content {
        padding: variables.$spacing-xl;
        display: flex;
        align-items: center;
        
        .promo-card__text {
            line-height: 28px;
        }
    }
    .card__image {
        max-height: unset;
    }
}
