@use '../variables';

.blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blurb__callout {
    margin: 0 0 6px 0;
}

.blurb__title {
    margin: 0 0 variables.$spacing-xxs 0;
}

.blurb__date {
    font-size: variables.$fs-tertiary-text;
    font-weight: 700;
    margin: 0 0 variables.$spacing-xs 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

