@use '../variables';

.button {
    padding: variables.$spacing-sm variables.$spacing-md;
    border: none;
    border-radius: 2.5em;
    font-weight: 600;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

@mixin button-styles($background) {
    background: variables.$background;
    border: 1px solid darken(variables.$background, 5);
    &:hover {
        background: lighten(variables.$background, 15);
    }
}

.button--primary {
    background: variables.$yellow;
    border: 2px solid darken(variables.$yellow, 5);
    &:hover {
        background: lighten(variables.$yellow, 15);
    }
}

.button--secondary, .button--tertiary {
    background: none;
    border: 2px solid darken(variables.$blue, 30);
    color: darken(variables.$blue, 30);
    &:hover {
        background: lighten(variables.$blue, 35);
    }
}

.button--tertiary {
    font-size: .875em;
}
