@use '../variables';

.button {
    padding: variables.$spacing-sm variables.$spacing-md;
    border: none;
    border-radius: 2.5em;
    font-weight: 600;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;

}

@mixin button-color-styles($background, $border, $text, $hover-background) {
    background: $background;
    border: 2px solid $border;
    color: $text;
    &:hover {
        background: $hover-background;
    }

    &:active {
        box-shadow: inset 0 0 5px darken($hover-background, 25);
    }
}

.button--primary {
    @include button-color-styles(variables.$light-blue, variables.$blue, variables.$dark-blue, darken(variables.$light-blue, 10));
}

.button--secondary, .button--tertiary {
    @include button-color-styles(none, variables.$blue-text, variables.$blue-text, lighten(variables.$blue, 35));
}

.button--tertiary {
    font-size: .875em;
}
