@import '../variables.scss';

.button {
    padding: $spacing-sm $spacing-md;
    border: none;
    border-radius: 2.5em;
    font-weight: 600;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.button--primary {
    background: $yellow;
    border: 1px solid darken($yellow, 5);

    &:hover {
        background: lighten($yellow, 15);
    }
}
