@use '../variables';

.card {
    box-sizing: border-box;
    background: variables.$card-background;
    display: flex;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    flex-direction: column;
    @media (min-width: variables.$bp-md) {
        flex-direction: row;
    }
}

.card__image {
    position: relative;
    max-height: 130px; // stops cards from getting unaligned when things shift for mobile
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: variables.$bp-md) {
        width: 52.8%; // magic number hack for vertical alignment between cards, this should be 47% based on the mockup
        max-height: unset;
    }
}

.card__content {
    padding: variables.$spacing-lg;
    @media (min-width: variables.$bp-md) {
        width: 50%; // magic number hack for vertical alignment between cards, this should be 53% based on the mockup
    }
}

.card__image__overlay { // not using ems because these should stay consistent even if the card content scales up or down
    background: variables.$card-background;
    border-left: 5px solid variables.$yellow; // this can be overridden in the Card component
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 24px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .8px;
    font-weight: variables.$semi-bold;
    line-height: 18px;
}
