@use 'text-styles'; // ensures font styles are present within the whole app

@use 'variables';

$max-page-width: 1170px;

html,body {
    margin: 0;
    font-size: 16px;
    background: variables.$page-background;
}

#root {
    padding: variables.$spacing-md;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $max-page-width;
}

.app__title {
    align-self: flex-start;
    margin-bottom: variables.$spacing-sm-md;
}

.app__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: calc(variables.$spacing-xl);
}

.app__main-promo {
    grid-column-start: 1;
    grid-column-end: 3;

}
