@use 'text-styles'; // ensures font styles are present within the whole app
@use 'variables';

$max-page-width: 1170px;

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-size: 16px;
    background: variables.$page-background;
}

#root {
    margin: variables.$spacing-md auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $max-page-width;

    @media (max-width: calc($max-page-width + variables.$spacing-md)) {
        margin-left: variables.$spacing-md;
        margin-right: variables.$spacing-md;
    }
}

.app__header {
    align-self: flex-start;
    margin-top: calc(variables.$spacing-xl * 2);
}

.app__title {
    margin-bottom: variables.$spacing-sm-md;
}

.app__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: variables.$spacing-xl;
}

.app__main-promo {
    grid-column-start: 1;
    grid-column-end: 3;
}
