@use './variables';

@mixin standard-font-family {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.title-text {
    @include standard-font-family;
    color: variables.$color__text-default;
    font-size: variables.$fs-title;
    font-weight: 100;
    margin: 0;
}

.card-title-text {
    @include standard-font-family;
    color: variables.$color__text-default;
    letter-spacing: -0.3px;
    line-height: 31px;
}

.callout-text {
    @include standard-font-family;
    color: variables.$color__text-secondary;
    text-transform: uppercase;
    font-size: variables.$fs-tertiary-text;
    letter-spacing: .5px;
}
