// colors
$light-grey: #EEEFF2;
$black: #333;
$mid-grey: #888;

$background: $light-grey;
$text-default: $black;
$text-secondary: $mid-grey;

// spacing
$spacing-xs: .25em;
$spacing-sm: .5em;
$spacing-md: 1em;
