// colors
$light-grey: #EEEFF2;
$black: #333;
$mid-grey: #888;
$white: #fff;
$yellow: #F7B500;
$blue: #32C5FF;
$light-blue: #98e2ff;
$dark-blue: #003c54; // AAA on $light-blue
$blue-text: #005f84; // AAA on white

$page-background: $light-grey;
$card-background: $white;

$color__text-default: $black;
$color__text-secondary: $mid-grey;

// spacing
$spacing-xxs: .25em;
$spacing-xs: .325em; // 16 x .375 = 6px
$spacing-sm: .5em; // 8px
$spacing-sm-md: .625em; // 48 x .625 = 30px
$spacing-md: 1em; // 16px
$spacing-lg: 1.25em; // 16 x 1.25 = 20px
$spacing-xl: 1.875em; //   16 x 1.875 = 30px

// font sizes
$fs-title: 3em; // 16 x 3 = 48px
$fs-card-title: 1.875em; // 16 x 1.875 = 30px
$fs-tertiary-text: .875em;

// font weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

// breakpoints
$bp-md: 700px;
