// colors
$light-grey: #EEEFF2;
$black: #333;
$mid-grey: #888;
$white: #fff;
$yellow: #F7B500;
$blue: #32C5FF;

$page-background: $light-grey;
$card-background: $white;

$color__text-default: $black;
$color__text-secondary: $mid-grey;

// spacing
$spacing-xs: .25em;
$spacing-xs-sm: .375; // 16 x .375 = 6px\

 // 10px
$spacing-sm: .5em; // 8px
$spacing-mdl: .625em; // 48 x .625 = 30px
$spacing-md: 1em; // 16px
$spacing-lg: 1.25em; // 16 x 1.25 = 20px
$spacing-xxl: 1.875em; //   16 x 1.875 = 30px

// font sizes
$fs-title: 3em;
$fs-card-title: 1.875em;
$fs-subtitle: 1em;
$fs-tertiary-text: .875em;
$fs-paragraph: 1.125em;

// breakpoints

$bp-sm: 500px;
$bp-md: 700px;
